:root {
  --primary-color: #e50914;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  --webkit-font-smoothing: antialiased;
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

.showcase {
  height: 70vh;
  width: 100%;
  position: relavtive;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/ed0b5df9-ba9d-4534-bd09-57993daeda56/1c62fa7f-27da-453c-bcfc-4ffb726de69c/IN-en-20220214-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    no-repeat center center/cover;
  z-index: -2;
  min-height: 700px;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 700px;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 60px 50px 250px rgba(0, 0, 0, 0.35),
    inset -60px -50px 250px rgba(0, 0, 0, 0.35);
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 1;
}

.showcase-top  .logo {
  height: 36px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.anchor-logo {
  position: relative;
  left: 5%;
  height: 36px;
}

.showcase-top a {
  position: absolute;
  text-decoration: none;
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%);
}

.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 9rem;
}

.showcase-content h1 {
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 20px;
}
.showcase-content h3 {
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

.showcase-content p {
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
  background: var(--primary-color);
  color: #fff;
}
.btn-lg {
  height: 45px;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 0.8rem 1.3rem;
  background: var(--primary-color);
  color: #fff;
}

.input-form {
  position: relative;
  height: 60px;
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.input-form input {
  position: absolute;
  width: calc(100% - 152px);
  height: 100%;
  padding: 8px 15px;
  outline: 0;
  border: 0;
  border-radius: 2px;
  color: #222;
  font-size: 1.25rem;
}
.input-form input:hover,
.input-form input:active,
.input-form input:valid {
  outline: none;
}
.input-form a {
  position: absolute;
  height: 100%;
  max-width: 150px;
  word-wrap: none;
  font-weight: bold;
  right: 0;
  margin-right: 0;
  border: none;
  white-space: nowrap;
  padding: auto;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.container {
  margin: auto;
  position: relative;
  width: 70%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left {
  float: left;
  width: 50%;
}
.right {
  float: right;
  width: 50%;
}
.card {
  position: relative;
  height: 500px;
  width: 100%;
  padding: 50px 0;
}
.img {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 100%;
  position: absolute;
}

.card .text h1 {
  font-size: 3rem;
  margin: 20px 0px;
}
.card .text p {
  font-size: 1.6rem;
  line-height: 2rem;
}
.text {
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.line-break {
  display: inline-block;
  background-color: #222;
  height: 10px;
  width: 100vw;
  z-index: 2;
  margin: 0;
}

.line-break#top-line-break {
  transform: translateY(-5px);
}

.faq-container {
  width: 70%;
  max-width: 800px;
  margin: 100px auto;
}

.faq-container h1 {
  padding-bottom: 50px;
  font-size: 2.5rem;
}

.faq {
  background-color: #303030;
  width: 100%;
  margin: 5px 0;
}

.faq h2 {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 400;
}

.faq p {
  display: none;
  padding: 30px;
  font-size: 1.5rem;
  border-top: #111 2px solid;
  font-weight: 300;
  line-height: 1.4;
}

.faq i {
  text-align: center;
  width: 30px;
  position: absolute;
  right: 30px;
}

.faq.active .fa-plus {
  display: none;
}

.faq.active .fa-xmark {
  display: block;
}

.faq .fa-plus {
  display: block;
}
.faq .fa-xmark {
  display: none;
}
.faq.active p {
  display: block;
}

/* Footer */

.footer {
  width: 75%;
  max-width: 900px;
  overflow: auto;
  margin: auto;
  padding: 65px 40px;
}

.footer,
.footer a {
  color: #777;
  font-size: 0.9rem;
  text-decoration: none;
}

.footer p {
  color: #777;
  margin-bottom: 1.5rem;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.footer li {
  line-height: 2.5;
  list-style: none;
}

@media (max-width: 960px) {
  .showcase {
    height: 50vh;
  }
  .showcase-top .logo {
    height: 24px;
  }

  .showcase-content h1 {
    font-size: 2.5rem;
    line-height: 1;
  }
  .showcase-content h3 {
    font-size: 1.2rem;
  }
  .showcase-content p {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.8rem;
  }

  .input-form {
    height: 50px;
    width: 500px;
  }

  .input-form input {
    width: calc(100% - 138px);
  }

  .container {
    width: 90%;
  }
  .card {
    height: 400px;
  }

  .card .text h1 {
    font-size: 2rem;
  }
  .card .text p {
    font-size: 1.5rem;
  }

  .faq-container {
    width: 90%;
  }
  .faq-container h1 {
    font-size: 2rem;
  }

  .faq h2 {
    font-size: 1.5rem;
  }
  .faq p {
    font-size: 1.2rem;
  }

  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .showcase-content p {
    width: 80%;
  }
  .input-form {
    width: 90%;
  }

  .card {
    height: 300px;
  }

  .card .text h1 {
    font-size: 1.5rem;
  }
  .card .text p {
    font-size: 1rem;
    line-height: 1.4;
  }
  .faq h2 {
    font-size: 1.2rem;
  }
  .faq p {
    font-size: 1rem;
  }
}
